/*variables*/
:root {
--basic-grey:  #EEEEEE;
--basic-red:   #FB565A;
--lower-red:   #E74246;
--higher-red:  #D7373B;
--basic-green: #00CA74;
--lower-green: #00BC6C; 
--higher-green:#00AA62;
--basic-yellow:#EFC849;
--lower-yellow:#EAB534;
--higher-yellow:#E5A722;
--basic-white: #888888;
--grey-button:#EEEEEE; 
--basic-black: #283136;
--total-black: #000000;
--total-white: #FFFFFF;
--white-opacity: rgba(255, 255, 255, 0.3);
--black-opacity: rgba(0,0,0, 0.3);
--middle-black: rgba(0,0,0,0.6);
--grey-item: #666666;
--hover-grey: #DFDFDF;
--active-grey: #D5D5D5;
}

/*global*/
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* main navigation */
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--basic-grey);
}
.basket-link{
  color: var(--total-black);
}
.basket-link:hover{
  color:var(--basic-red);
}
.basket-link:active{
  color:var(--total-black);
}
.site-navigation a {
  color: var(--total-black);
}
.site-navigation a:hover{
  color:var(--basic-red);
}
.site-navigation a:active{
  color: var(--total-black);
  opacity: 0.3;
}

  /*description*/
.description-wrapper{
  width: 100%;
  background-color: var(--basic-grey);
}
.description{
  background-color: var(--basic-grey);
  margin-top: 0px;
  margin-left: 140px;
  margin-right: 143px;
  margin-bottom: 80px;
  padding:0px;
  width: 1157px;
}
.description-head{
  background-color: var(--basic-grey);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--total-black);
  }
.description-item{
  list-style: none;
  }
.description-list{
  background-color: var(--basic-grey);
}
.description-button{
  background: var(--basic-red);
  color: var(--total-white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  border:none;
  vertical-align: middle;
  text-align: center;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 17px;
  padding-bottom: 15px;
  }

  .description-button:hover{
  background-color: var(--lower-red);
  }
  .description-button:active{
  background-color: var(--higher-red);
  color: var(--white-opacity);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }
/*products*/
.product-common{
  border:3px;
  padding-left: 39px;
  padding-right: 40px;
  padding-top: 17px;
  padding-bottom: 15px;
  text-decoration: none;
  color: var(--total-white);
  background-color: var(--basic-red);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.head-sedona{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color:var(--total-black);
}
.products-item-app{
  background-color: var(--basic-green);
}

.products-item-presentation{
  background-color: var(--basic-yellow);
}

.products{
  list-style:none;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}
.products-list{
  list-style: none;
  margin-top:0;
  padding:0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:100px;
  margin-left:140px;
  margin-right: 200px;
  margin-bottom: 80px;
  justify-content: flex-start;
  width: 1100px;
}
.products-item{
  text-align: left;
}
.products-item h3{
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--total-black);

}
.product-item-button{
  background: var(--basic-red);
  color: var(--total-white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  border:none;
  vertical-align: middle;
  text-align: center;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 17px;
  padding-bottom: 15px;
}
.product-item-button:hover{
  background-color: var(--lower-red);
  }
.product-item-button:active{
  background-color: var(--higher-red);
  color: var(--white-opacity);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }


.products-item-site:hover{
  background-color: var(--lower-red);
}
.products-item-site:active{
  background-color:var(--higher-red);
  color: var(--white-opacity);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.products-item-app:hover{
  background-color:var(--lower-green);
}
.products-item-app:active{
  background-color:var(--higher-green);
  color: var(--white-opacity);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.products-item-presentation:hover{
  background-color: var(--lower-yellow);
}
.products-item-presentation:active{
  background-color: var(--higher-yellow);
  color: var(--white-opacity);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.sort{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--total-black);
  align-items: center;
  text-transform: uppercase;
}
.products-sort{
  font-size: 14px;
  line-height: 18px;
  font-weight:normal;
  text-transform: uppercase;
color: var(--black-opacity);
}
.products-sort:hover{
color:var(--middle-black);
}
.products-sort:active{
  color:var(--total-black);
  }
  .product-page{
  list-style: none;
  }
  .product-list{
  list-style:none;
  }
  .product-list-item p{
  font-size: 16px;
  line-height: 18px;
  text-align:center;
  color:var(--grey-item);
  }
.product-page-number{
  background: var(--total-white);
  color:var(--total-black);
  font-size: 16px;
  line-height: 18px;
  border: 3px solid #DBDBDB;
  display: flex; 
  align-items: center; 
  justify-content: center;
  width: 50px;
  height: 50px;
  }

  .button-next{
  background-color:var(--grey-button);
  color:var(--total-black);
  font-size: 16px;
  line-height: 18px;
  width: 260px;
  height: 50px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  }
.button-next:hover{
  color: var(--total-black);
  background-color: var(--hover-grey);
}
.button-next:active{
  color: var(--total-black);
  background-color: var(--active-grey);
}

/*description*/
.index-columns{
  color: var(--basic-black);
  font-size:16px;
  line-height:24px;
  text-align:left;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width:1158px;
  margin-left: 140px;
  margin-right:140px;
  margin-top: 121px;
  margin-bottom: 138px;
}
.full-description-studio{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  color: var(--total-black);
  justify-self: left;
}
.full-description ul{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
}
.full-description-item{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  padding:7px;
}
.full-description-orders{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.full-condition-year{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform:uppercase;
  color:black;
}
.full-condition-list{
  list-style: none;
}

.full-condition-percent{
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--total-black);
}

.full-condition-item{
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: none;
}
/*partners*/
.partners-list{
  list-style: none;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 95px;
  margin-left:172px;
  margin-right: 183px;
  margin-bottom: 126px;
  width: 1084px;
}
.partners-item{
  max-width:209px;
  justify-self: center;
  align-self: center;
}
.partners-item a:hover,
.partners-item a:focus {
  text-decoration: none;
}
/*contacts*/
.contacts h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--total-black);
}
.contacts p{
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
.contacts-phone{
  color:inherit;
}
.contacts-button{
  background: var(--basic-red);
  color:var(--total-white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  border:none;
  vertical-align: middle;
  text-align: center;
  width: 219px;
  height: 50px;
}

.contacts-button:hover{
  background-color: var(--lower-red);
  }
.contacts-button:active{
  background-color: var(--higher-red);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }
.contacts{
  width: 1440px;
  margin-bottom: 75px;
}
.media{
  display: flex;
  grid-template-columns: 1fr 2fr;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
  width: 944px;
  margin-left: 140px;
  margin-bottom: 68px;
}
.media h3{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--total-black);
  margin-left: 540px;
}
.media p{
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color:var(--basic-black);
  margin-left:540px;
}
.media-list{
  list-style: none;
  display: grid;
  grid-template-columns: 81px 81px 81px;
  justify-content: flex-start;
  gap: 9px;
  margin-top:68px;
  margin-bottom: 68px;
  padding:9px;
  order:-2;
}
/*Grid*/
.page{
height:100%;
}
.page-body{
  min-height: 100%;
  display:grid;
  grid-template-rows: min-content 1fr min-content;
}
.main-header{
  margin-bottom: 0px;
  background-color: var(--basic-grey);
}

.main-navigation{
  display: flex;
  columns: 1fr 1fr;
  justify-items:start;
  margin-top: 49px;
  margin-bottom:0px;
  margin-left: 140px;
  margin-right: 140px;
  width: 1440px;
}
.main-navigation-wrapper{
display: flex;
columns: 1fr min-content;
justify-self: left;
align-self: flex-end;
width:1440px;
}
.main-header-logo{
  margin-bottom: 0px;
  justify-self: left;
}
.site-navigation{
  list-style: none;
  display: flex;
  width: 437px;
  columns: 1fr 1fr 1fr 1fr;
  column-gap: 45px;
  margin-left: 202px;
  margin-right: 286px;
  justify-items: end;
  align-items:end;
}