/*variables*/
:root {
--basic-grey: #EEEEEE;
--basic-red:   #FB565A;
--basic-green: #00CA74;
--basic-yellow:#EFC849;
}

/*global*/
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 100px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-black);
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
