/*variables*/
:root {
--basic-grey:  #EEEEEE;
--basic-red:   #FB565A;
--lower-red:   #E74246;
--higher-red:  #D7373B;
--basic-green: #00CA74;
--lower-green: #00BC6C; 
--higher-green:#00AA62;
--basic-yellow:#EFC849;
--lower-yellow:#EAB534;
--higher-yellow:#E5A722;
--basic-white: #888888;
--basic-black: #283136;
--total-black: black;
--total-white: white;
}

/*global*/
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* main navigation */
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  align-items: center;
  background-color: var(--basic-grey);
}
.login-link{
  color: var(--total-black);
}
.site-navigation{
  list-style: none;
}
.site-navigation a {
  color: var(--total-black);
}
.site-navigation a:hover{
  color:var(--basic-red);
}
.site-navigation a:active{
  color: var(--total-black);
  opacity: 0.3;
}

  /*description*/
.description-head{
  background-color: var(--basic-grey);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--total-black);
  }
.description-item{
  list-style: none;
  }
.description-list{
  background-color: var(--basic-grey);
}
.description-button{
  background: var(--basic-red);
  color: var(--total-white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  border:none;
  vertical-align: middle;
  text-align: center;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 17px;
  padding-bottom: 15px;
  }
  .description-button:hover{
  background-color: var(--lower-red);
  }
  .description-button:active{
  background-color: var(--higher-red);
  color: rgba(255, 255, 255, 0.3);
  }
/*products*/
.product-common{
  border:3px;
  padding-left: 39px;
  padding-right: 40px;
  padding-top: 17px;
  padding-bottom: 15px;
  text-decoration: none;
  color: var(--total-white);
  background-color: var(--basic-red);
  font-size: 16px;
  line-height: 18px;
  font-weight:normal;
  text-transform: uppercase;
}

.products-item-app{
  background-color: var(--basic-green);
}

.products-item-presentation{
  background-color: var(--basic-yellow);
}

.products{
  list-style:none;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}
.products-list{
  list-style: none;
}
.products-item{
  text-align: left;
}
.products-item h3{
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--total-black);

}
.products-item-site:hover{
  background-color: var(--lower-red);
}
.products-item-site:active{
  background-color:var(--higher-red);
  color: rgba(255, 255, 255, 0.3);
}
.products-item-app:hover{
  background-color:var(--lower-green);
}
.products-item-app:active{
  background-color:var(--higher-green);
  color: rgba(255, 255, 255, 0.3);
}
.products-item-presentation:hover{
  background-color: var(--lower-yellow);
}
.products-item-presentation:active{
  background-color: var(--higher-yellow);
  color: rgba(255, 255, 255, 0.3);
}
/*description*/
.full-description{
  color: var(--basic-black);
  font-size:16px;
  line-height:24px;
  text-align:left;
}
.full-description-studio{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  color: var(--total-black);
}
.full-description ul{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
}
.full-description-item{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  padding:7px;
}
.full-description-orders{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.full-condition-year{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform:uppercase;
  color:black;
}
.full-condition-list{
  list-style: none;
}

.full-condition-procent{
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--total-black);
}

.full-condition-item{
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: none;
}
/*partners*/
.partners-list{
  list-style: none;
}
.partners-item a:hover,
.partners-item a:focus {
  text-decoration: none;
}



/*contacts*/
.contacts h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--total-black);
}
.contacts p{
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
.contacts-phone{
  color:inherit;
}
.contacts-button{
  background: var(--basic-red);
  color:var(--total-white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  border:none;
  vertical-align: middle;
  text-align: center;
  width: 219px;
  height: 50px;
}
.media h3{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--total-black);
}
.media p{
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color:var(--basic-black);
}
.media-list{
  list-style: none;
}